.services {
  padding: 100px 20px;
  background-color: var(--primary-bg);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.sectionTitle {
  font-size: 2rem;
  margin-bottom: 50px;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 30px;
}

.card {
  background: var(--card-bg);
  padding: 40px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
  overflow: hidden;
  backdrop-filter: blur(5px);
}

.card h3 {
  margin-bottom: 15px;
  color: var(--text-white);
}

.card p {
  color: var(--text-gray);
  font-size: 0.9rem;
}


.cardGlow {
  position: absolute;
  bottom: -20px;
  right: -20px;
  width: 100px;
  height: 100px;
  background: var(--accent-blue);
  filter: blur(60px);
  opacity: 0.3;
}

/* Responsividade Desktop */
@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .sectionTitle {
    text-align: left;
    font-size: 2.5rem;
  }
  .iconContainer {
  color: var(--accent-blue);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  filter: drop-shadow(0 0 10px var(--glow-blue));
}
}